@font-face {
  font-family: "Roboto-Bold";
  src: url("~@/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("~@/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("~@/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
